<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blair Walks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2204967E1BB4C6CF00783070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220496921BB4C6D100783070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2204969D1BB4C6D100783070</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
